.important {
    color: #ff6300;
}

.done {
    text-decoration: line-through;
}

h5 {
    display: inline-block;
    padding-right: 15px;
    width: 200px;
}

h4 {
    display: inline-block;
    padding-right: 15px;
    padding-left: 30px;
    width: 300px;
}